$light-blue: #E9EEFF;
$blue: #0F77D8;
$dark-blue: #302D67;
$grey: #5E5B88;

$padding-xxl: calc((100vw - 1440px)/2);
$padding-xl: 240px;
$padding-lg-big: 130px;
$padding-lg-small: 50px;
$main-font-family: 'Nunito',
sans-serif;
$nav-bg: $light-blue;
$nav-active-color: $blue;
$nav-color: $dark-blue;
$blue-title: $blue;
$text-color: $grey;
$forske-color: $blue;
$title-color: $dark-blue;